html,
body {
  background-color: #161515;
  height: 100%;
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto 60px;
  overflow-x: hidden;
}

.container > div {
  color: white;
}

.header,
.footer {
  grid-column: 1 / -1;
  font-family: "Sue Ellen Francisco", cursive;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 10px 20px;
  width: 30%;
}
.logo > a > img {
  height: 60px;
  width: 60px;
}

.header-items {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}
.header-items > div {
  cursor: pointer;
}
.header-items-mobile,
.header-items-mobile-nav {
  display: none;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("../images/banner_1a.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  animation: slidedown 2s forwards;
  transform: translateY(-100%);
}

.content {
  grid-column: 1 / -1;
  overflow: hidden;
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  margin-left: 20px;
}
.social-icons > a {
  font-size: 22px;
  margin-right: 10px;
}

.footer-details {
  font-size: 20px;
  margin-right: 20px;
}

/* CSS for Menus */
.lunch-menu,
.dinner-menu {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 20%;
  background-color: #b13537;
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.sidebar-mobile,
.sidebar-items-mobile {
  display: none;
}
.sidebar-title {
  font-size: 24px;
}
.sidebar-line {
  width: 80%;
  border: 1px white solid;
  margin-bottom: 6px;
}
.sidebar-item {
  cursor: pointer;
}
.sidebar-item > a:hover {
  color: #161515;
}

.menu {
  width: 80%;
  background-color: #c4beb0;
  color: #161515;
  overflow: auto;
}
.menu-notice {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 20px;
}
.menu-section {
  margin: 20px;
}
.menu-title > a {
  font-family: "Sue Ellen Francisco", cursive;
  font-size: 20px;
  color: #161515;
  text-decoration: none;
}
.menu-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.item-name,
.item-price {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.item-name {
  display: flex;
}
.spicy-icon {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}
.item-description {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
}

.about-description {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}
.dragon-char {
  opacity: 0.8;
  width: 40%;
  transform: translateX(-100%);
  animation: slideright 2s forwards;
}
.about-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 60%;
  padding: 0 20px;
  transform: translateY(-100%);
  animation: slidedown 2s forwards;
  overflow: auto;
}

.contact {
  background-color: #c4beb0;
  color: #161515;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container > h1,
.hour-label,
.contact-details > span {
  font-family: "Sue Ellen Francisco", cursive;
}
.contact-container > h1 {
  font-size: 36px;
  margin-bottom: 0;
}
.hour-label,
.contact-details > span {
  font-size: 30px;
}
.hours-table-container,
.hours-table,
.hours-row {
  display: flex;
}
.hours-table-container {
  width: 600px;
}
.hours-table-container,
.hours-table {
  flex-direction: column;
}
.hours-table,
.address {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.hours-row > div {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.current-day {
  background-color: #b13537;
  color: white;
}
.map-container {
  width: 800px;
  height: 0;
  padding-bottom: 40px;
}
.google-map {
  border: 0;
  height: 450px;
  left: 0;
  top: 0;
  width: 100%;
}
.address {
  margin-bottom: 20px;
  display: flex;
}
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.contact-details > a {
  color: #b13537;
}

/* Animations */
@keyframes slidedown {
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideright {
  100% {
    transform: translateX(0%);
  }
}

/* CSS for Mobile */
@media (max-width: 767px) {
  .container {
    grid-template-rows: 80px auto 80px;
  }

  .header-items {
    display: none;
  }
  .header-items-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  .logo {
    margin: 15px 20px;
  }
  .logo > a > img {
    height: 50px;
    width: 50px;
  }
  .fa-bars {
    font-size: 20px;
  }
  .header-items-mobile-nav {
    display: none;
    position: absolute;
    margin-top: 50px;
    right: 0;
    text-align: right;
    width: 40%;
    background-color: #161515;
    z-index: 1;
    padding: 0 20px 10px 0;
    font-size: 20px;
  }

  .background {
    animation: none;
    transform: none;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .footer-details,
  .social-icons {
    margin: 0;
  }
  .footer-details,
  .social-icons > a {
    font-size: 18px;
  }

  .sidebar {
    display: none;
  }
  .sidebar-mobile,
  .sidebar-items-mobile {
    background-color: #b13537;
    font-family: "Sue Ellen Francisco", cursive;
  }
  .sidebar-mobile {
    display: block;
    font-size: 22px;
    padding: 2px 20px;
  }
  .sidebar-items-mobile {
    display: none;
    font-size: 20px;
    padding: 0 40px;
  }
  .fa-angle-double-down {
    margin-left: 6px;
  }
  .menu {
    width: 100%;
  }
  .menu-item {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
  }
  .lunch-menu,
  .dinner-menu {
    flex-direction: column;
  }

  .hours-table-container,
  .map-container {
    width: 100%;
  }
  .map-container {
    margin-bottom: 0;
  }
  .contact-container > h1 {
    font-size: 32px;
    margin-bottom: 0;
  }
  .hour-label,
  .contact-details > span {
    font-size: 28px;
  }
  .hours-table,
  .address {
    font-size: 14px;
  }
  .address {
    flex-direction: column;
    align-items: center;
  }

  .about-description {
    flex-direction: column;
  }
  .about-text {
    font-size: 14px;
    width: 90%;
  }
  .about-text,
  .dragon-char {
    transform: none;
    animation: none;
  }
}

.testing {
  font-size: 12px;
}
